In [6]:
import pandas as pd

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('air_data/air-2022-transformed.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8758 entries, 0 to 8757
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date/Time  8758 non-null   object
 1   SO2        8699 non-null   float64
 2   NO2        8719 non-null   float64
 3   CO         8754 non-null   float64
 4   O3         8727 non-null   float64
 5   PM10       8731 non-null   float64
 6   PM2.5      8720 non-null   float64
 7   TEMP       8755 non-null   float64
 8   WD10       8754 non-null   float64
 9   WS10       8754 non-null   float64
dtypes: float64(9), object(1)
memory usage: 684.3+ KB

In [7]:
# Convert the datetime column to a pandas datetime object
df['Date/Time'] = pd.to_datetime(df['Date/Time'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8758 entries, 0 to 8757
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date/Time  8758 non-null   datetime64[ns, UTC]
 1   SO2        8699 non-null   float64
 2   NO2        8719 non-null   float64
 3   CO         8754 non-null   float64
 4   O3         8727 non-null   float64
 5   PM10       8731 non-null   float64
 6   PM2.5      8720 non-null   float64
 7   TEMP       8755 non-null   float64
 8   WD10       8754 non-null   float64
 9   WS10       8754 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(9)
memory usage: 684.3 KB

In [25]:
columns =["SO2", "NO2", "CO", "O3", "PM10", "PM2.5", "TEMP", "WD10", "WS10"]

# Group the data by month and calculate the average for each month
monthly_data = df.groupby(pd.Grouper(key='Date/Time', freq='M'))[columns].mean()


# Write the monthly data to a new CSV file
monthly_data.to_csv('air_data/monthly_data.csv')

In [26]:
monthly_data

,SO2,NO2,CO,O3,PM10,PM2.5,TEMP,WD10,WS10
Date/Time,,,,,,,,,
2022-01-31 00:00:00+00:00,0.611440,11.716981,0.333441,48.458839,9.730135,6.609054,-2.077688,226.174731,1.733065
2022-02-28 00:00:00+00:00,0.440030,10.883780,0.346726,57.378274,11.696726,7.201042,0.010417,204.450893,1.733482
2022-03-31 00:00:00+00:00,0.618674,16.442355,0.439729,61.710163,26.300951,9.894452,0.986333,231.922869,1.315832
2022-04-30 00:00:00+00:00,0.385396,7.137744,0.272806,68.800836,16.253621,4.103056,5.182361,198.498611,1.534861
2022-05-31 00:00:00+00:00,0.227419,5.409812,0.207352,66.276210,12.989204,3.096496,11.011962,211.420699,1.150000
2022-06-30 00:00:00+00:00,0.295417,4.686752,0.190083,57.260313,14.156625,5.202092,18.276389,193.750000,0.831528
2022-07-31 00:00:00+00:00,0.163478,3.825337,0.168506,52.174089,10.894189,2.969324,18.922446,203.321237,0.848118
2022-08-31 00:00:00+00:00,0.368280,6.294482,0.204987,49.482258,18.449194,5.413306,20.534677,168.012113,0.973082
2022-09-30 00:00:00+00:00,0.317361,7.152083,0.235833,29.828611,8.676389,2.728472,9.968889,212.940278,0.964028
2022-10-31 00:00:00+00:00,0.315054,9.467116,0.293306,31.589488,12.745148,5.502426,8.347984,196.899194,0.993280
2022-11-30 00:00:00+00:00,0.303333,8.658368,0.260042,28.876111,9.551604,4.740808,2.060000,137.348611,1.373611
2022-12-31 00:00:00+00:00,0.444489,14.536290,0.366075,33.977957,14.115457,9.706586,-3.650134,162.051075,1.638844

In [27]:
columns =["SO2", "NO2", "CO", "O3", "PM10", "PM2.5", "TEMP", "WD10", "WS10"]

# Group the data by month and calculate the average for each day
daily_data = df.groupby(pd.Grouper(key='Date/Time', freq='D'))[columns].mean()


# Write the monthly data to a new CSV file
daily_data.to_csv('air_data/daily_data.csv')

daily_data

,SO2,NO2,CO,O3,PM10,PM2.5,TEMP,WD10,WS10
Date/Time,,,,,,,,,
2022-01-01 00:00:00+00:00,0.845833,6.633333,0.291667,44.854167,7.204167,5.970833,-2.433333,301.541667,1.454167
2022-01-02 00:00:00+00:00,0.566667,11.183333,0.331250,48.416667,8.075000,5.641667,-7.670833,175.750000,1.704167
2022-01-03 00:00:00+00:00,0.683333,10.791667,0.326250,42.058333,6.545833,5.091667,-3.441667,142.458333,1.433333
2022-01-04 00:00:00+00:00,0.812500,19.579167,0.446667,31.195833,10.775000,7.612500,2.108333,169.666667,1.187500
2022-01-05 00:00:00+00:00,0.637500,11.362500,0.367083,46.258333,9.133333,7.887500,1.862500,180.708333,1.366667
...,...,...,...,...,...,...,...,...,...
2022-12-27 00:00:00+00:00,0.483333,13.550000,0.335833,43.979167,10.833333,5.708333,-2.683333,153.291667,2.191667
2022-12-28 00:00:00+00:00,0.641667,18.900000,0.410417,44.537500,14.495833,9.054167,0.479167,190.875000,1.379167
2022-12-29 00:00:00+00:00,0.433333,7.970833,0.258333,31.345833,9.137500,5.016667,0.379167,131.375000,1.720833
2022-12-30 00:00:00+00:00,0.533333,12.604167,0.417500,33.129167,12.362500,7.666667,3.587500,172.291667,1.366667
2022-12-31 00:00:00+00:00,0.441667,6.512500,0.296667,42.341667,10.791667,6.100000,3.716667,167.250000,1.979167